@model IntranetPOPS1819.ViewModel.CongesViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        <div>
            @Html.LabelFor(Model => Model._Conge.Debut)
            @Html.TextBoxFor(Model => Model._Conge.Debut)
            @Html.ValidationMessageFor(Model => Model._Conge.Debut)
        </div>
        <div>
            @Html.LabelFor(Model => Model._Conge.Fin)
            @Html.TextBoxFor(Model => Model._Conge.Fin)
            @Html.ValidationMessageFor(Model => Model._Conge.Fin)
        </div>
        <div>
            @Html.LabelFor(Model => Model._Conge.Type)
            @Html.TextBoxFor(Model => Model._Conge.Type)
            @Html.ValidationMessageFor(Model => Model._Conge.Type)
        </div>
        <input type="submit" value="Demnader congé" />
    }
    @try
    {
        foreach (var c in Model._Collaborateur.Congés.Values.First())
        {
            <ul>
                <li>@c.Debut</li>
            </ul>
        }
    } catch(System.NullReferenceException e)
    {
        <p>@e.Source</p>
        <p>Aucune demande pour le moment</p>
    }


</body>
</html>
