@model IntranetPOPS1819.Models.Conges
@using IntranetPOPS1819.Models

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @Html.Partial("../Shared/Navbar")

    @using (Html.BeginForm())
    {
        <div class="navbar navbar-inverse">
            @Html.LabelFor(Model => Model.Debut)
            @Html.TextBoxFor(Model => Model.Debut)
            @Html.ValidationMessageFor(Model => Model.Debut)
        </div>
        <div>
            @Html.LabelFor(Model => Model.Fin)
            @Html.TextBoxFor(Model => Model.Fin)
            @Html.ValidationMessageFor(Model => Model.Fin)
        </div>
        <div>
            @Html.LabelFor(Model => Model.Type)
            @Html.TextBoxFor(Model => Model.Type)
            @Html.ValidationMessageFor(Model => Model.Type)
        </div>
        <input type="submit" value="Demnader congé" />
    }
</body>
</html>
