@using IntranetPOPS1819.Models
@model Collaborateur

<div class="container-fluid">
	<div class="row">
		<div class="col-lg-6 table-bordered">
			<div id="infos" class="text-center">
				<h1>@Model.Prenom @Model.Nom</h1>
				<br />
				Service : @Model.Service.Nom
				Present :	@if (Model.isEnConge())
				{
					<div>non <i class="em em-cry"></i></div>
				}
				else
				{
					<div>oui</div>
				}
				<i class="em em-e-mail"></i> : @Model.Mail
				<i class="em em-telephone_receiver"></i> : @Model.Telephone
			</div>
		</div>
		<div class="col-lg-6 table-bordered">
			@{ 
				Random rng = new Random();
				int rand = rng.Next(1, 9);
				string path = "~/Content/images/collaborateurs/col" + rand + ".jpg";
			}
			<img src=@path>

		</div>
	</div>
</div>