@using IntranetPOPS1819.Models
@model IntranetPOPS1819.ViewModel.OngletNoteDeFraisViewModel
@{
	ViewBag.Title = "Note De Frais";

	Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("../Shared/Navbar")
<div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3 table-bordered">
				<h2>Historique Notes de Frais</h2>
				@for(int i = Model._Collaborateur.NotesDeFrais.Count - 1; i >= 0 ; i--)
				{
					<p><button href="" onclick="javascript:toggleVisibility(('Note' + @Model._Collaborateur.NotesDeFrais[i].Id)); return false;">@Model._Collaborateur.NotesDeFrais[i].Date.ToString("MMMM-yyyy") @(@Model._Collaborateur.NotesDeFrais[i].Actif ? " - Actif" : "")</button></p>
					<div id=@("Note" + @Model._Collaborateur.NotesDeFrais[i].Id) style="display:none;">
						@for(int j =0; j < @Model._Collaborateur.NotesDeFrais[i].LignesDeFrais.Count; j++)
						{
							@Ajax.ActionLink(@Model._Collaborateur.NotesDeFrais[i].LignesDeFrais[j].Nom, "InformationLigneDeFrais", new { idNote = Model._Collaborateur.NotesDeFrais[i].Id, idLigne = Model._Collaborateur.NotesDeFrais[i].LignesDeFrais[j].Id }, new AjaxOptions
							{
							   InsertionMode = InsertionMode.Replace,
							   UpdateTargetId = "InfoLigneActive",
							   HttpMethod = "Post"
							}, new { @class = "btn" })
						}
					</div>
				}
			</div>
			<div class="col-md-6">
				<h1>Notes de Frais : TODO Date Dynamique</h1>
				<div id="InfoLigneActive">
					@{
						Html.RenderAction("InformationLigneDeFrais");
					}
				</div>
			</div>
			<div class="col-md-3">
				@using (Html.BeginForm())
				{
					<div>
						@Html.LabelFor(Model => Model._Collaborateur.NotesDeFrais)
						@Html.DropDownListFor(Model => Model._IdNoteDeFrais, new SelectList(Model._Collaborateur.NotesDeFrais, "Id", "Date"))
						@Html.ValidationMessageFor(Model => Model._Collaborateur.NotesDeFrais)
					</div>
					<div>
						@Html.LabelFor(Model => Model._Frais.Nom)
						@Html.TextBoxFor(Model => Model._Frais.Nom)
						@Html.ValidationMessageFor(Model => Model._Frais.Nom)
					</div>
					<div>
						@Html.LabelFor(Model => Model._Frais.Mission)
						@Html.DropDownListFor(Model => Model._IdMission, new SelectList(Model._Collaborateur.Missions, "Id", "Nom"))
						@Html.ValidationMessageFor(Model => Model._Frais.Mission)
					</div>
					<div>
						@Html.LabelFor(Model => Model._Frais.Somme)
						@Html.TextBoxFor(Model => Model._Frais.Somme)
						@Html.ValidationMessageFor(Model => Model._Frais.Somme)
					</div>
					<div>
						@Html.CheckBoxFor(Model => Model._Frais.Complete)
						@Html.LabelFor(Model => Model._Frais.Complete)
						@Html.ValidationMessageFor(Model => Model._Frais.Complete)
					</div>
					<input type="submit" value="Ajouter la dépense" />
				}
			</div>
		</div>
	</div>
</div>
