@model IntranetPOPS1819.ViewModel.CollaborateurViewModel
@{
    ViewBag.Title = "Profil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Profil</title>
    <link rel="stylesheet" href="node_modules/octicons/build/font/octicons.css">
</head>

<body>
    @Html.Partial("../Shared/Navbar")

    <div>
        <div class="container-fluid profil-layout">
            <div class="row">
                <div class="col-md-2 row1 text-center">
                    <h2 class="row1-h">@Model._Collaborateur.Nom @Model._Collaborateur.Prenom</h2>
                    
                    <img src="@Url.Content(Model._Collaborateur.GetLamePpPath())" id="pp" class="rounded border border-dark">
                    <br />
                    <p>
                        Service : @if (@Model._Collaborateur.Service != null)
                        {@Model._Collaborateur.Service.Nom}
                    </p>
                    <p>Rôle : @Model._Collaborateur.RoleToString()</p>
                    <p><i class="em em-e-mail"></i> : <a href="mailto:@Model._Collaborateur.Mail">@Model._Collaborateur.Mail</a></p>
                    <p><i class="em em-telephone_receiver"></i> : @Model._Collaborateur.Telephone</p>
                </div>
                <div class="col-md-8">
                    <div class="row2">
                        <h1 class="row2-h">Récapitulatif</h1>
                        <br />
                        <br />
                        <br />

                        <div class="row row2-1">
                            <div class="col-2 col-lg-6 text-center">
                                <h3>Congés</h3>
                                <br />
                                <p>Consommés cette année : @Model._Collaborateur.GetNombreCongesPrisCetteAnnee() jours</p>
                                <p>Restants : @Model._Collaborateur.CongesRestants jours</p>
                                <p>En attente : @Model._Collaborateur.GetNombreCongesEnAttente() jours</p>
                                <p>Validés : @Model._Collaborateur.GetNombreCongesValidesFuturs() jours</p>
                            </div>
                            <div class="col col-lg-6 text-center">
                                <h3>Notes de frais</h3>
                                <br />
                                <p>Somme validée ce mois-ci : @Model._Collaborateur.GetSommeValideeCeMois() €</p>
                                <p>Lignes de frais en attente : @Model._Collaborateur.GetNotesDeFraisAValider().Count</p>
                                <p>Lignes de frais validées : @Model._Collaborateur.GetNombreNotesDeFraisValidees()</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 row3">
                    <h2 class="row3-h">Service @Model._Collaborateur.Service.Nom</h2>
                    <br />
                    <p><span class="glyphicon glyphicon-calendar"></span> @DateTime.Today.ToString("dd/MM/yyyy")</p>
                    <br />
                    <p class="table-bordered">Nombre de collaborateurs absents : @Model._Collaborateur.Service.GetNombreCollaborateursEnConges()</p>
                    <p class="table-bordered">Proportion dans le service : @Model._Collaborateur.Service.GetProportionAbsents()%</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<style>
    
</style>