@using IntranetPOPS1819.Models
@model IntranetPOPS1819.ViewModel.ChefDeServiceViewModel
@{
	ViewBag.Title = "Chef De Service";

	Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("../Shared/Navbar")

<h2>@Model._Collaborateur.Service.Nom</h2>
<div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 table-bordered">
                @for (int k = 0; k < Model._Collaborateur.Service.Collaborateurs.Count; k++)
                {
                    <button class="btn btn-block btn-2" href="" onclick="javascript:toggleVisibility(('c' + @Model._Collaborateur.Service.Collaborateurs[k].Id)); return false;">@Model._Collaborateur.Service.Collaborateurs[k].Nom</button>
                    <div id=@("c" + Model._Collaborateur.Service.Collaborateurs[k].Id) style="display:none;">
                        @foreach (LigneDeFrais l in Model._Collaborateur.Service.Collaborateurs[k].GetLigneDeFraisAValider())
                        {
                            @Ajax.ActionLink(l.Nom, "InformationLigneDeFraisSelection", new { idCollab = Model._Collaborateur.Service.Collaborateurs[k].Id, idLigne = l.Id }, new AjaxOptions
                           {
                               InsertionMode = InsertionMode.Replace,
                               UpdateTargetId = "InfoLigne",
                               HttpMethod = "Post"
                           }, new { @class = "btn btn-block btn-3" })
                        }
                    </div>
                }
            </div>
            <nav class="nav nav-tabs">
                <a class="nav-item nav-link active" href="#p1" data-toggle="tab">Congés</a>
                <a class="nav-item nav-link" href="#p2" data-toggle="tab">Notes de frais</a>
            </nav>
            
            <div class="col-lg-3 table-bordered">
                TODO
            </div>

        </div>
        <div class="row">
            <div class="tab-content">
                <div class="tab-pane active" id="p1">
                    @Html.Partial("Conges")
                </div>
                <div class="tab-pane" id="p2">
                    <div class="col-lg-6" id="InfoLigne">
                        @{
                            /*
                               Brian : j'ai commenté ça parce que ça lève une exception chez moi
                            Html.RenderAction("InformationLigneDeFraisSelection");*/
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

