@using IntranetPOPS1819.Models


@{
    IDal d = new Dal();
    Collaborateur c = d.ObtenirCollaborateur(User.Identity.Name);
<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top">
    <a class="navbar-brand" href="#">Intranet POPS1819</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/UserPage/Profil">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div>@c.Nom @c.Prenom</div>
                    }<span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Conges/Index">Congés</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../NoteDeFrais/Index">Notes de frais</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Collaborateurs/Index">Collaborateurs</a>
            </li>
            @{
                if (c.Service != null)
                {
                    if (c.Chef)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="../ChefDeService/Index">Tableau de bord</a>
                        </li>
                    }
                    if (c.Chef)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="../Missions/Index">Missions</a>
                        </li>
                    }
                    if (c.Service.Type == TypeService.RessourcesHumaines)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="/RH/Index">Ressources humaines</a>
                        </li>
                    }
                    if (c.Service.Type == TypeService.Comptabilité)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="/Compta/Index">Comptabilité</a>
                        </li>
                    }
                }
            }

            @if (c.Admin)
            {
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Nouveau...</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/Admin/NouveauCollabo">Collaborateur</a>
                        <a class="dropdown-item" href="/Admin/NouveauService">Service</a>
                    </div>
                </li>
            }
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fas fa-question"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="modal" data-target="#msgModal" style="cursor:pointer"><i class="fa fa-envelope"></i></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="far fa-bell"></i>
                @if (c.Notifications.Count() > 0)
                {<span class="badge badge-notify">@c.Notifications.Count()</span>}</a>
                <div class=" dropdown-menu dropdown-menu-right scrollable-menu " aria-labelledby="navbarDropdownMenuLink">
                    @foreach (var m in c.Notifications)
                    {
                        <button class="list-group-item" onclick="retirerNotif(@m.Id, '@m.Redirection')">
                            <b>@m.Titre</b>
                            <p>
                                <em>@m.Emetteur</em><br />
                                @m.Contenu<br />
                                @*@m.Date.ToString("dd/MM/yyyy")<br />
        <em>Cliquez pour consulter</em>*@
                            </p>
                        </button>

                    }
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Login/Deconnexion"><i class="fas fa-sign-out-alt"></i></a>
            </li>
        </ul>
    </div>

    <div class="modal fade" id="msgModal" role="dialog">
        <div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Demande d'informations</h4>
				</div>
				<form id="demandeInfo">
					<div class="modal-body">
						<div class="form-row">
							<div class="col-md-12" style="margin-left:90px">
								<input name="Titre" type="text" class="form-control" id="titleDemandeInfo" placeholder="Title">
								<span id="cd-error-title" style="color: red">Il manque un titre</span>
							</div>
						</div>
						<div class="form-row">
							<div class="col-md-12" style=" margin-top: 10px; margin-left:90px">
								<textarea class="form-control" rows="10" id="texteDemandeInfo"></textarea>
								<span id="cd-error-message" style="color: red">La demande d'information est vide</span>
							</div>
						</div>


					</div>
					<div class="modal-footer">
						<div class="col-md-12" style="margin-left:90px">
							<button type="submit" id="submitForm" class="btn btn-primary">Envoyer</button>
							<button type="button" class="btn btn-primary" data-dismiss="modal" style="float:right">Fermer</button>
						</div>
					</div>
				</form>
            </div>
        </div>
    </div>
</nav>
    <br />
}
<script type="text/javascript">
	var error = document.getElementById('cd-error-title');
	error.style.display = 'none';
	var error = document.getElementById('cd-error-message');
	error.style.display = 'none';
    function lire(e) {
        console.log("bite");
        var dataItem = this.dataItem($(e.currentTarget).closest("div"));
        console.log(dataItem);
    }

    function retirerNotif(idNoti, redirection) {
        $.post('@Url.RouteUrl(new {controller = "UserPage", action = "RetirerNotif" })', { idNotif: idNoti }, function (data) {
            if (data != 0) alert("Des erreures ont été comises")
            else window.location.href = redirection;
        })
    }
</script>

<script type="text/javascript">
	
	$('#demandeInfo').on('submit', function (e) {
		e.preventDefault();

		var title = document.getElementById('titleDemandeInfo');
		var texte = document.getElementById('texteDemandeInfo');
		if (title.value != "" && texte.value != "") {
			$.post('/UserPage/SubmitDemandeInfo', { DemandeInformation: texte.value, DemandeTitre: title.value }, function (data) {
				$('#msgModal').modal('hide');
				var error = document.getElementById('cd-error-title');
				error.style.display = 'none';
				var error = document.getElementById('cd-error-message');
				error.style.display = 'none';
				title.value = '';
				texte.value = '';
			});
		}
		else {
			if (title.value == "") {
				var error = document.getElementById('cd-error-title');
				error.style.display = '';
			}
			else {
				var error = document.getElementById('cd-error-title');
				error.style.display = 'none';
			}
			if (texte.value == "") {
				var error = document.getElementById('cd-error-message');
				error.style.display = '';
			}
			else {
				var error = document.getElementById('cd-error-message');
				error.style.display = 'none';
			}
		}
	});
</script>

<style>
    .badge-notify {
        background: orange;
        font-size: x-small;
        position: relative;
        top: -10px;
    }

    .list-group-item:hover {
        background-color: lightgrey;
    }

    .dropdown-menu {
        width: auto !important;
        height: auto !important;
    }
   
</style>